What are your first and last name?

<form method = "post" action="/correct">
	<input type = "text" name = "first_name">
	<input type = "text" name = "last_name">
	<input type = "hidden" name = "user_name" value = <%=user_name%>>
	<input type = "hidden" name = "password" value = <%=password%>>
	<input type = "submit">
</form>
