Please enter your username and password.

<form method = "post" action = "/credentials">
	<input type = "text" name = "user_name">
	<input type = "password" name = "password">
	<input type = "submit">
</form>